<div class="container">
    <div class="container mb-4">
        <div class="col-6">
          <h2 class="text-center">Ajouter un adhérent</h2>
          <form (ngSubmit)="createAdherent()">
            
            <div class="form-group">
              <label>Nom</label>
              <input
                class="form-control"
                [(ngModel)]="adherent.firstName"
                class="form-control"
                name="firstName"
              />
            </div>
            <br />

            <div class="form-group">
              <label>Prénom</label>
              <input
                class="form-control"
                [(ngModel)]="adherent.lastName"
                class="form-control"
                name="lastName"
              />
            </div>
            <br />
    
            <label>Date de naissance</label>
            <input type="date" [(ngModel)]="adherent.dateOfBirth" name="dateOfBirth">
            
            <br />

            <div class="form-group">
              <label>Addresse</label>
              <input
                class="form-control"
                [(ngModel)]="adherent.address"
                class="form-control"
                name="address"
              />
            </div>
            <br />

            <div class="form-group">
              <label>Email</label>
              <input
                class="form-control"
                [(ngModel)]="adherent.email"
                class="form-control"
                name="email"
              />
            </div>
            <br />

            <div class="form-group">
              <label>Téléphone</label>
              <input
                class="form-control"
                [(ngModel)]="adherent.phoneNumber"
                class="form-control"
                name="phoneNumber"
              />
            </div>
            <br />
    
            <label>Date d'entrée</label>
            <input type="date" [(ngModel)]="adherent.entryDate" name="entryDate">
            
            <br />

            <div class="form-group">
                <label>Premium</label>
                <input class="form-control" [(ngModel)]="adherent.isPremium" name="isPremium" />
            </div>
      
            <br />  
            <button href="/#" class="btn btn-success" type="submit">Submit</button>
          </form>
        </div>
      </div>

    <h2>Adhérents</h2>
    <div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">addresse</th>
            <th scope="col">email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Date d'entrée</th>
            <th scope="col">Premium</th>
          </tr>


        </thead>
        <tbody *ngFor="let adherent of adherentList">

          <tr>
            <td>{{ adherent.firstName }}</td>
            <td>{{ adherent.lastName }}</td>
            <td>{{ adherent.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
            <td>{{ adherent.address }}</td>
            <td>{{ adherent.email }}</td>
            <td>{{ adherent.phoneNumber }}</td>
            <td>{{ adherent.entryDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ adherent.isPremium }}</td>
          </tr>

        </tbody>
      </table>
        
    </div>

</div>
