<div class="container">
  <h2>Article</h2>
  <div class="row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://www.redigeons.com/wp-content/uploads/2014/07/rediger-un-article.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ news.title }}</h5>
          <p>Auteur: {{ news.author }}</p>
          <p class="card-text">{{ news.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
