<div class="container">
  <div class="container mb-4">
    <div class="col-6">
      <h2 class="text-center">Ajouter un article</h2>
      <form (ngSubmit)="createNews()">
        <div class="form-group">
          <label>Titre</label>
          <input
            class="form-control"
            [(ngModel)]="news.title"
            class="form-control"
            name="title"
          />
        </div>
        <br />

        <div class="form-group">
          <label>Contenu</label>
          <textarea
            class="form-control"
            [(ngModel)]="news.content"
            name="content"
          ></textarea>
        </div>

        <br />

        <div class="form-group">
          <label>Auteur</label>
          <input class="form-control" [(ngModel)]="news.author" name="author" />
        </div>

        <br />
        <!--
        <label>Date</label>
        <input type="date" [(ngModel)]="news.createdAt" name="createdAt">
        -->
        <button href="/#" class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <h2>Articles</h2>
  <div class="row">
    <div
      class="col-3 col-sm-3 col-md-3 col-lg-3 mb-3"
      *ngFor="let article of newsList"
    >
      <div class="card">
        <img
          class="card-img-top"
          src="https://www.redigeons.com/wp-content/uploads/2014/07/rediger-un-article.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p>Auteur: {{ article.author }}</p>
          <p class="card-text">{{ article.content | slice: 0:20 }}...</p>
          <a (click)="voirNewsById(article.newsId)" class="btn btn-success">Voir</a>&nbsp;
          <a (click)="updateNews(article.newsId)"class="btn btn-warning">Modifier</a>&nbsp;
          <a href="/#" class="btn btn-danger" (click)=deleteNews(article.newsId)>Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
