<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"routerLink="">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="adherent">Adherents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="article">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="evenement">Évenements</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="bg-dark text-center text-lg-start mt-4">
  <!-- Copyright -->
  <div class="text-center p-3 text-white">
    © 2020 Copyright:
    <p class="text-white" >M2 Association Management</p>
  </div>
  <!-- Copyright -->
</footer>