
<div class="container">
    <div class="container mb-4">
      <div class="col-6">
        <h2 class="text-center">Modifier un article</h2>
        <form (ngSubmit)="modifyNews()">
          <div class="form-group">
            <label>Titre</label>
            <input
              class="form-control"
              [(ngModel)]="news.title"
              class="form-control"
              name="title"
            />
          </div>
          <br />
  
          <div class="form-group">
            <label>Contenu</label>
            <textarea
              class="form-control"
              [(ngModel)]="news.content"
              name="content"
            ></textarea>
          </div>
  
          <br />
  
          <div class="form-group">
            <label>Auteur</label>
            <input class="form-control" [(ngModel)]="news.author" name="author" />
          </div>
  
          <br />
          <!--
          <label>Date</label>
          <input type="date" [(ngModel)]="news.createdAt" name="createdAt">
          -->
          <button href="/#" class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
