<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">
          Bienvenue sur le site de gestion d'association
        </h1>
        <p class="lead">Gérez votre association</p>
      </div>
    </div>
  </div>
</header>

<section class="team-section text-center my-5">

    
    <h2 class="h1-responsive font-weight-bold my-5">Notre groupe</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Ce projet est une plateforme de gestion d'association en ligne. Il a été
        réalisé dans le cadre de l'UE Programmation Web Distribuée de la 2e année de Master MIAGE à l’Université de Paris.
    </p>
  
    <div class="row">

      <div class="col">
        <div class="avatar mx-auto">
          <img src="https://www.flaticon.com/svg/vstatic/svg/3003/3003035.svg?token=exp=1610401321~hmac=c770703cdae4bd3c0cb37fb93955025c" style="width: 90px;" class="rounded-circle z-depth-1"
            alt="Rassem">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">HACHOUD Rassem</h5>
        <p class="text-uppercase blue-text"><strong>Développeur</strong></p>
        
        <ul class="list-unstyled mb-0">
          <!-- Gmail -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-gmail-f blue-text">rassem.contact@gmail.com</i>
          </a>
          
        </ul>
      </div>
      
      <div class="col">
        <div class="avatar mx-auto">
          <img src="https://www.flaticon.com/svg/vstatic/svg/3003/3003035.svg?token=exp=1610401321~hmac=c770703cdae4bd3c0cb37fb93955025c" style="width: 90px;" class="rounded-circle z-depth-1"
            alt="Tarujan">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">VALLIPURAM MANIKAM Tarujan</h5>
        <p class="text-uppercase blue-text"><strong>Développeur</strong></p>
        
        <ul class="list-unstyled mb-0">
          <!-- Gmail -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-gmail-f blue-text">tarujan.vallipuram@gmail.com </i>
          </a>
        </ul>
      </div>
  
    </div>
  
  </section>