<div class="container">
    <div class="container mb-4">
        <div class="col-6">
          <h2 class="text-center">Ajouter un évenement</h2>
          <form (ngSubmit)="createEvent()">
            <div class="form-group">
              <label>Titre</label>
              <input
                class="form-control"
                [(ngModel)]="event.title"
                class="form-control"
                name="title"
              />
            </div>
            <br />
    
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control"
                [(ngModel)]="event.description"
                name="description"
              ></textarea>
            </div>
    
            <br />
    
            <div class="form-group">
              <label>Lieux</label>
              <input class="form-control" [(ngModel)]="event.location" name="location" />
            </div>
    
            <br />

            
            <label>Date</label>
            <input type="date" [(ngModel)]="event.eventDate" name="eventDate">
            
            <br />

            <div class="form-group">
                <label>Prix</label>
                <input class="form-control" [(ngModel)]="event.price" name="price" />
            </div>
      
            <br />

            <div class="form-group">
                <label>Nombre de place</label>
                <input class="form-control" [(ngModel)]="event.totalNumberOfPlaces" name="totalNumberOfPlaces" />
            </div>
      
            <br />
            <!--
            <div class="form-group">
                <label>Nombre de place restant</label>
                <input class="form-control" [(ngModel)]="event.remainingNumberOfPlaces" name="remainingNumberOfPlaces" />
            </div>
            <br/>
            -->
            
            <button href="/#" class="btn btn-success" type="submit">Submit</button>
          </form>
        </div>
      </div>

    <h2>Evenement</h2>
    <div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Lieux</th>
            <th scope="col">Prix</th>
            <th scope="col">Place</th>
          </tr>
        </thead>
        <tbody *ngFor="let evenement of eventList">
          <tr>
            <td>{{ evenement.title }}</td>
            <td>{{ evenement.description }}</td>
            <td>{{ evenement.eventDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ evenement.location }}</td>
            <td>{{ evenement.price }} €</td>
            <td>{{ evenement.totalNumberOfPlaces }}</td>
          </tr>
        </tbody>
      </table>
        
    </div>

</div>
